In [1]:
# first import the functions for downloading data from NWIS, https://github.com/USGS-python/dataretrieval
import dataretrieval.nwis as nwis

# specify the USGS site code for which we want data.
site = '03339000'


# get instantaneous values (iv)
df = nwis.get_record(sites=site, service='iv', start='2017-12-31', end='2018-01-01')

# get water quality samples (qwdata)
df2 = nwis.get_record(sites=site, service='qwdata', start='2017-12-31', end='2018-01-01')

# get basic info about the site
df3 = nwis.get_record(sites=site, service='site')

In [2]:
nwis.get_record(sites='03339000', service='dv', start='2017-12-31', parameterCd='00060')

                           00060_Mean 00060_Mean_cd   site_no
datetime
2017-12-31 00:00:00+00:00       137.0          A, e  03339000
2018-01-01 00:00:00+00:00       142.0          A, e  03339000
2018-01-02 00:00:00+00:00       156.0          A, e  03339000
2018-01-03 00:00:00+00:00       173.0          A, e  03339000
2018-01-04 00:00:00+00:00       180.0          A, e  03339000
...                               ...           ...       ...
2022-05-26 00:00:00+00:00       753.0             P  03339000
2022-05-27 00:00:00+00:00       714.0             P  03339000
2022-05-28 00:00:00+00:00       976.0             P  03339000
2022-05-29 00:00:00+00:00       997.0             P  03339000
2022-05-30 00:00:00+00:00       865.0             P  03339000

[1611 rows x 3 columns]